/* Common css */

.form .btn:focus {
  outline: none;
}

.form .btn-sw-primary {
  background-color: #ededed;
  border-color: #ededed;
  color: #757575;
  font-weight: 500;
  float: right;
  padding-left: 25px;
  padding-right: 25px;
}

.form .btn-sw-primary:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  box-shadow: none;
  color: #757575;
}

.participant-list .update-actions{
    padding:0;
}

.update-actions{
    float: right;
}

.update-actions .btn-secondary{
    margin-right: 5px;
    color: #0077ff;
}
.update-actions .btn-primary{
    background-color: #0077ff;
    border-color: #0077ff;
}
