.form {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 16px;
}

.form input[type="text"], .form input[type="email"] {
  float: left;
  margin-right: 15px;
  width: 30%;
}

.form input[type="text"] {
  width: 23%;
}
