.app-header {
  background-color: #adb5bd;
  padding: 32px 0;
}

.app-header img {
  float: left;
}

.app-header h1 {
  color: #fff;
  float: left;
  float: left;
  font-weight: 500;
  line-height: 32px;
  margin-left: 20px;
}
