.participant-list {
  width: 100%;
}

.participant-list thead tr {
  height: 48px;
}

.participant-list tbody tr {
  height: 72px;
}

.participant-list tr {
  text-align: left;
  background-color: #fff;
  border-bottom: 1px solid #F1F1F1;
}

.participant-list th,
.participant-list td {
  padding: 0 24px;
}

.participant-list th {
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.participant-list td {
    color: #505050;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
