body {
  background-color: #f1f1f1;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


/* common style */

.form-control, .btn {
  height: 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.title {
  font-size: 26px;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 912px;
}

.form-control {
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  color: #909090;
  border-radius: 0px;
  box-shadow: none;
}
